# Exclude everything by default
/*
/.*

# Keep only these files
!inquiry_transfer_permata.php
!inquiry_bifast_permata.php
!router.php
!ecosystem-php.config.cjs
!.assist.env.example
!README.md
!.gitignore
